.faixa {
    margin: 0;
    background-color: black;
    padding: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 1.5rem;
    cursor: pointer;

    .texto {
        animation: letreiro 20s linear infinite;
        width: 100%;
        overflow: hidden;
    }

    p {
        color: white;
        overflow: hidden;

        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

@keyframes letreiro {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) {
    .faixa {
        padding: 1rem;

        p {
            font-size: 1rem;
        }
    }


}